.columns {
    display: flex;
}

.rows {
    display: flex;
    flex-direction: column;
}

.App {
    width: 92%;
    max-width: 1000px;
    height: calc(100vh - 8px);
    margin: 4px auto;
    border-radius: 12px;
    background-color: #bac9e0;
    box-shadow: 0 0 8px #111111;
    /* overflow: hidden; */
}

.App .main-envelope .contents {
    width: 70%;
}

.App .main-envelope .sidebar {
    width: 30%;
    background-color: #aaaaaa;
}