.App {
    width: 92%;
    max-width: 1000px;
    height: calc(100vh - 8px);
    margin: 4px auto;
    border-radius: 12px;
    background-color: #bac9e0;
    box-shadow: 0 0 8px #111111;
    overflow: hidden;
}

.App .main-envelope {
    display: flex;
    width: 100%;
    height: calc(100vh - (261 / 1088 * 100%) - 78px);
}

.App .main-envelope .main-contents {
    width: 70%;
    overflow-y: auto;
    overflow-x: hidden;
}

.App .main-envelope .main-sidebar {
    width: 30%;
    background-color: #aaaaaa;
    overflow-y: auto;
    overflow-x: hidden;
}

.App .normal-padding {
    padding: 20px 4%;
}

.main-envelope h1 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 12px;
}

.register-form div,
.login-form div {
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.register-form div label,
.login-form div label,
.login-form a {
    margin-bottom: 2px;
    font-size: 1.4rem;
}

.main > section,
.register-form button,
.login-form button {
    margin-bottom: 14px;
}

.register-form p.error-message
.login-form p.error-message {
    font-size: 1.2rem;
    font-weight: bold;
    color: #990000;
}

.login-form p {
    font-size: 1.2rem;
}

.main > section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.main > section h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.main p,
.main .user-management-table {
    font-size: 1.4rem;
}

.main .user-management-table {
    margin-bottom: 10px;
    border: 1px solid gray;
}

.main .user-management-table th {
    padding: 4px 20px 7px 0;
}

.main .user-management-table tr {
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid gray;
}

.main .user-management-table th {
    font-weight: bold;
}

.main .user-management-table td {
    padding: 0 20px 7px 0;
}

.main .user-management-table td .popout-system {
    width: 70px;
    height: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main .user-management-table td .popout {
    display: none;
}

.main .user-management-table td .popout.open {
    display: flex;
    position: relative;
    background-color: #666666;
    border: 2px solid #444444;
    border-radius: 2px;
    z-index: 1;
}

.main .user-management-table td .popout.open button {
    margin: 0 1px;
}