.parchment {
    margin: 20px 0 14px;
    width: 100%;
    padding: 14px 0 24px 6%;
    border-radius: 12px 0 12px 12px;
    background-color: #d2b48c;
    background-image: url(../media/paper-texture.png);
    box-shadow: 1px 1px 5px #111111;
    position: relative;
}

.parchment .column-envelope {
    display: flex;
    align-items: center;
}

.parchment .column-envelope.space-between {
    justify-content: space-between;
}

.parchment .row-envelope {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parchment .contain-edit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.parchment .editable {
    text-shadow: 1px 1px 3px rgba(0, 0, 127, 0.2);
    cursor: pointer;
}

.parchment .popout-edit {
    display: none;
}

.parchment .popout-edit.meb-open {
    padding: 0 1px;
    display: flex;
    background-color: #666666;
    border: 2px solid #444444;
    border-radius: 2px;
    z-index: 1;
}

.parchment .popout-edit.meb-open input {
    margin-right: 2px;
}

.float-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.char-sheet-tabs {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -39px;
    right: -1px;
}

.char-sheet-tabs .char-sheet-tab {
    margin: 0 1px;
    padding: 4px 10px 5px;
    border-radius: 12px 12px 0 0;
    background-color: #bfa480;
    box-shadow: 1px -1px 1px #111111;
    font-size: 1.6rem;
    cursor: pointer;
}

.char-sheet-tabs .char-sheet-tab.active {
    background-color: #d2b48c;
    background-image: url(../media/paper-texture.png);
}

.parchment .right-padding {
    padding-right: calc(6 / 94 * 100%);
}

.parchment h1.char-sheet-name {
    font-style: italic;
    margin-bottom: 6px;
}

.parchment h2.subtitle {
    font-size: 2rem;
    font-weight: bold;
}

.parchment header header {
    margin-bottom: 16px;
}

.parchment .stat {
    font-size: 1.4rem;
}

.parchment .stat.float-right-element {
    margin-left: 18px;
}

.parchment .column-envelope.breakdown {
    align-items: flex-start;
    position: relative;
}

.parchment p.big-num,
.parchment .equals-symbol,
.parchment .plus-symbol {
    font-size: 2rem;
}

.parchment .equals-symbol,
.parchment .plus-symbol {
    position: relative;
    top: -2px;
}

.parchment .fill-in p {
    text-align: center;
}

.parchment .fill-in p.big-num {
    border-bottom: 1px solid brown;
}

.parchment .fill-in p.caption {
    font-size: 1.2rem;
}