.sidebar .library-display {
    height: calc(100% - 220px - 16px - 18px - 50px);
    padding: 10px 4%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    overflow-y: auto;
}

.sidebar .library-display h1 {
    margin-bottom: 6px;
    font-size: 1.8rem;
    font-weight: bold;
}

.sidebar .library-display h2.subtitle {
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: bold;
}

.sidebar .library-display h2 {
    margin-bottom: 6px;
    font-size: 1.4rem;
    font-weight: bold;
}

.sidebar .library-display p {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.library-display ul {
    margin-bottom: 10px;
    list-style: disc inside;
}

.library-display ul li div {
    display: inline-block;
    margin-bottom: 4px;
}

.library-display ul ul {
    margin: 0 0 4px 18px;
    list-style: circle inside;
}

.sidebar .library-display li {
    margin-bottom: 2px;
    font-size: 1.2rem;
}

.library > div {
    margin-bottom: 16px;
}

.library > div .my-button {
    margin-right: 10px;
}

.library > div .my-button.on {
    box-shadow: 2px 2px 10px #111177;
}

.library > section.links a {
    margin-bottom: 4px;
    font-size: 1.4rem;
}

.App .primary-content .library-display h1 {
    margin-bottom: 6px;
}

.primary-content .library-display h2.subtitle {
    font-size: 1.8rem;
}

.App .primary-content .library-display p {
    margin-bottom: 12px;
    font-size: 1.6rem;
}

.App .primary-content .library-display li {
    margin-bottom: 2px;
    font-size: 1.4rem;
    line-height: 1.2;
}